<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{'/shopping-cart/gear/{id}' (id=${id})}" method="POST">
                <div class="form-group">
                    <label for="klima">Клима</label>
                    <input type="checkbox"
                           class="form-control"
                           th:value="true"
                           id="klima"
                           name="klima">
                </div>
                <div class="form-group">
                    <label for="bandasi">Бандаши</label>
                    <input type="checkbox"
                           class="form-control"
                           th:value="true"
                           id="bandasi"
                           name="bandasi">
                </div><div class="form-group">
                <label for="turbo">Турбо</label>
                <input type="checkbox"
                       class="form-control"
                       th:value="true"
                       id="turbo"
                       name="turbo">
            </div>
                <div class="form-group">
                    <label for="spoiler">Споилер</label>
                    <input type="checkbox"
                           class="form-control"
                           th:value="true"
                           id="spoiler"
                           name="spoiler">
                </div>
                <div class="form-group">
                    <label for="metalic">Металик боја</label>
                    <input type="checkbox"
                           class="form-control"
                           th:value="true"
                           id="metalic"
                           name="metalic">
                </div>
                <div class="form-group">
                    <label for="kozniSedista">Кожни седишта</label>
                    <input type="checkbox"
                           class="form-control"
                           th:value="true"
                           id="kozniSedista"
                           name="kozniSedista">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <a type="button" class="btn btn-primary" href="/cars/list">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>